@import "../../../styles.scss";
#touch-container {
  background-image: url("../../../assets/images/space.jpg");

  background-size: cover;
  background-position: center;
  height: 90vh;
  overflow: hidden !important;
}
