<div class="image-container">
  <img
    class="hero-image"
    src="https://i.imgur.com/eMqn5ZV.jpg"
    alt="Coding on macbook"
  />
  <div
    class="image-text"
    fxLayout="column"
    fxLayoutGap="60px"
    fxLayoutAlign="center center"
  >
    <p class="title-text">Full Stack</p>
    <p class="sub-text">Web + Mobile apps, APIs, Cloud services, and more</p>

    <div fxLayout="row" fxLayoutAlign="center" class="arrow-container">
      <app-animated-down-arrow></app-animated-down-arrow>
    </div>
  </div>
</div>
