<p></p>

<mat-card>
  <mat-card-title>
    {{ site.title }}
  </mat-card-title>
  <mat-card-content>
    <slideshow
      [height]="300"
      [minHeight]="'525px'"
      [autoPlay]="true"
      [showArrows]="false"
      [imageUrls]="onabeatImageUrls"
      [lazyLoad]="onabeatImageUrls?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
    >
    </slideshow>
  </mat-card-content>
  <mat-card-content>
    <p>{{ site.bottomText }}</p>
    <a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
  </mat-card-content>
</mat-card>
