<mat-card class="site-card mat-elevation-z6">
  <mat-card-title class="site-title">
    {{ site.title }}
  </mat-card-title>
  <mat-card-content>
    <slideshow
      [height]="'350px'"
      [minHeight]="'325px'"
      [autoPlay]="true"
      [showArrows]="false"
      [imageUrls]="site.imageUrls"
      [lazyLoad]="site.imageUrls?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [showDots]="true"
    >
    </slideshow>
  </mat-card-content>
  <mat-card-content>
    <p>{{ site.bottomText }}</p>
    <button mat-raised-button class="cg-hover-yellow">
      <a href="{{ site.url }}" target="_blank"
        ><span class="cg-hover-yellow-text">View Site</span></a
      >
    </button>
  </mat-card-content>
</mat-card>
