<h1 style="color: yellow; text-align: center;">Under construction 7/24/2020</h1>
<section class="contact-form" fxFlex="500px" fxFlex.xs="300px">
  <form
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
    #contactForm="ngForm"
    (ngSubmit)="submit(contactForm)"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Name"
        ngModel
        name="name"
        required
        minLength="4"
        #nameInput="ngModel"
      />
      <!-- <mat-hint>Should be at least 6 characters long</mat-hint> -->
      <mat-error *ngIf="nameInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        ngModel
        name="email"
        required
        email
        #emailInput="ngModel"
      />
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Must be a valid email address.</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Leave a message"
        ngModel
        name="message"
        #messageInput="ngModel"
        required
      ></textarea>
      <mat-error *ngIf="messageInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="contactForm.invalid">
      Submit
    </button>
  </form>
</section>
