@import "../../../../styles.scss";

.social-link-container {
  .social-link {
    color: white;
    font-size: 20px;
    a {
      color: white;
      font-size: 20px;
    }
    .social-icon {
      font-size: 20px;
      color: white;
    }
  }
}
.social-icon {
  font-size: 20px;
  color: white;
}
