@import "../../../../styles.scss";

.social-media-container {
  margin-top: 20px;
  .social-link {
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: yellow;
      transform: scale(1.5);
    }
  }
}
