<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="5px"
  class="social-link-container"
>
  <div class="social-link">
    <a href="https://github.com/ChristianGracia">
      <i className="fab fa-github" class="social-icon"></i>
    </a>
  </div>
  <div class="social-link">
    <a href="https://www.linkedin.com/in/christiangracia">
      <i className="fab fa-linkedin" class="social-icon"></i>
    </a>
  </div>
  <div class="social-link">
    <a href="http://www.twitter.com/CG_CODING">
      <span class="social-icon">
        <i className="fab fa-twitter" style="color: white;"></i>
      </span>
    </a>
  </div>
</div>
