.content-container {
  margin: 20px 0px;
  width: 100%;

  .content-description-text {
    text-align: center;

    margin: 0px 10px;
    font-size: 24px;
  }
  .content-click-text {
    font-weight: bold;
    font-style: italic;
  }
  .content-header-container {
    border-bottom: 2px solid #f7d000;
    padding: 4px 20px;

    .content-header {
      font-size: 40px;

      margin: 0 auto;
      font-weight: bold;
    }
  }
}
