<div class="image-container">
  <img
    class="hero-image"
    src="https://i.imgur.com/eMqn5ZV.jpg"
    alt="Coding on macbook"
  />
  <div class="text" fxLayout="column" fxLayoutGap="10px">
    <span class="title-text">Full Stack</span>
    <span class="sub-text"
      >At work I build Salesforce integrated web/mobile iOS applications with
      Angular, React Native, and Java as well as back-end API's with Ruby/RoR
      and NodeJs.</span
    >
    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 20px;">
      <app-animated-down-arrow></app-animated-down-arrow>
    </div>
  </div>
</div>
<!-- <mat-card class="work-container mat-elevation-z0">
  <mat-card-title class="title">Full Stack</mat-card-title>
  <mat-card-content class="description">
    At work I build Salesforce integrated web/mobile iOS applications with
    Angular, React Native, and Java as well as back-end API's with Ruby/RoR and
    NodeJs.
  </mat-card-content>
</mat-card> -->
