@import "../../../../../styles.scss";

.modal-container {
  .repo-name-container {
    margin: 20px 0;
    .repo-name {
      font-weight: bold;
      color: #f7d000;
    }
  }
  .view-repo-text-container {
    .view-repo-text {
      font-weight: bold;
    }
  }

  .social-link {
    color: black;
    margin-top: 6px;
    height: 20px;
  }
  .card-container {
    .commit-card {
      margin-bottom: 36px;
      .github-link-container {
        margin-top: 20px;
        margin-bottom: 4px;
      }
      .commit-message {
        margin-top: 5px;
      }

      .commit-time {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
  .close-button-container {
    .close-button-text {
      font-size: 24px;
    }
  }
}
