<div class="image-container">
  <img
    class="hero-image"
    src="https://i.imgur.com/eMqn5ZV.jpg"
    alt="Coding on macbook"
  />
  <div class="text" fxLayout="column" fxLayoutGap="20px">
    <span class="title-text">Full Stack</span>
    <span class="sub-text"
      >At work I build Salesforce integrated web/mobile applications with
      Angular, React Native, and Java as well as back-end API's with Ruby/RoR
      and NodeJs.</span
    >
    <div fxLayout="row" fxLayoutAlign="center">
      <app-animated-down-arrow></app-animated-down-arrow>
    </div>
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="20px"
  class="job-history-container"
>
  <app-content-header
    contentTitle="Job History"
    contentDescription=""
  ></app-content-header>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    class="company-card mat-elevation-z6"
  >
    <p class="company-name">Velentium</p>
    <p class="company-years">March 2021 - Present</p>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    class="company-card mat-elevation-z6"
  >
    <p class="company-name">Magellan Jets</p>
    <p class="company-years">January 2020 - March 2021</p>
  </div>
</div>
