@import "../../../../../styles.scss";

.repo-card {
  width: 300px;
  margin: 30px 5px;
  @media (min-width: 500px) {
    margin: 15px 30px;
  }
  &:hover {
    transform: scale(1.07);
    background-color: black;
    color: white;
    .repo-title {
      color: yellow;
    }
  }
  .repo-title {
    font-weight: bold;
    text-align: center;
    margin: 16px 0 auto;
    color: #151747;
    &:hover {
      transform: scale(1.07);
    }
  }

  .repo-language-container {
    margin-top: -6px;
    margin-bottom: 10px;
    .repo-language-text {
      font-size: 16px;
    }
  }
  .repo-description-container {
    margin: 20px 0;
    .repo-description {
      font-size: 16px;
    }
  }
  .repo-date-container {
    margin-bottom: 10px;
    .repo-date-text {
      font-size: 12px;
      font-style: italic;
    }
    .repo-date-value {
      font-style: normal;
    }
  }
}
.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.api-description-container {
  text-align: center;
  margin-bottom: 20px;

  margin: 0px 10px 0px 20px;
  .api-description-text {
    font-size: 14px;
    font-style: italic;
  }
  .api-description-url {
    margin-top: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
  }
}

.repo-loader-container {
  margin-top: 60px;
  .repo-loader {
    color: black;
  }
}
