<mat-toolbar class="toolbar" id="top" [ngClass]="{ darkenHeader: notOnRoot }">
  <div fxHide.gt-xs fxFlex fxLayout="row" fxLayoutAlign="space-between">
    <button
      mat-icon-button
      (click)="onToggleSidenav()"
      color="primary"
      class="menu"
      aria-label="menu"
    >
      <div class="menu-row"></div>
      <div class="menu-row"></div>
      <div class="menu-row"></div>
    </button>
  </div>
  <div>
    <a routerLink="/"
      ><div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        Home
      </div></a
    >
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
      <li>
        <a routerLink="/projects" routerLinkActive="active-link">Projects</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
