<div
  fxLayout="column"
  fxLayoutALign="center center"
  fxLayoutGap="20px"
  class="about-me-container"
>
  <div class="self-pic-container">
    <img
      class="self-pic-image"
      src="https://i.imgur.com/y6sSa1o.jpg"
      height="100px"
      width="100px"
    />
  </div>
  <div class="about-me-text-container">
    <p class="white-text">Full Stack</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <app-skill-card
      listTitle="Languages"
      [listItems]="languagesArray"
    ></app-skill-card>
    <app-skill-card
      listTitle="Technologies"
      listItems="technologiesArray"
    ></app-skill-card>
    <app-skill-card listTitle="Skills" listItems="skillsArray"></app-skill-card>
    <app-skill-card
      listTitle="Libraries + Frameworks"
      listItems="librariesAndFrameworksArray"
    ></app-skill-card>
  </div>
</div>
