<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="20px"
  class="job-history-container"
>
  <app-content-header
    contentTitle="Job History"
    contentDescription=""
  ></app-content-header>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    class="company-card mat-elevation-z6"
  >
    <p class="company-name">Velentium</p>
    <p class="company-years">March 2021 - Present</p>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    class="company-card mat-elevation-z6"
  >
    <p class="company-name">Magellan Jets</p>
    <p class="company-years">January 2020 - March 2021</p>
  </div>
</div>
