<app-content-header
  contentTitle="GitHub Repos"
  contentDescription="My public github repositories. Click the 🔍 to see each of my repo's code."
></app-content-header>
<div class="api-description-container">
  <span class="api-description-text">
    Click
    <a
      href="https://christiangracia-api.herokuapp.com/github/all-repos"
      target="_blank"
      >here</a
    >
    to see the JSON that is used to render each card below from my back-end
    API</span
  >
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="background-color: white"
>
  <mat-card
    *ngFor="let repo of gitRepos"
    fxLayout="column"
    fxLayoutAlign="center"
    class="repo-card mat-elevation-z6"
  >
    <mat-card-title class="repo-title">
      {{ repo.name }}
    </mat-card-title>
    <mat-card-content>
      <span class="repo-description">
        {{ repo.description }}
      </span>
    </mat-card-content>
    <mat-card-content>
      <div
        class="repo-sub-info-container"
        fxLayout="row"
        fxLayoutAlign="space-around"
      >
        <div fxLayout="column" fxLayoutGap="6px">
          <span class="repo-col-header">Primary Language</span>
          <span
            class="repo-language-text"
            [ngStyle]="{ color: formatRepoLanguage(repo.language) }"
            >{{ repo.language }}</span
          >
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <span class="repo-col-header">Updated At</span>
          <span>{{ formatUpdateAtDate(repo.updatedAt) }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayoutAlign="center center" style="padding-bottom: 15px">
        <button
          mat-raised-button
          style="width: 70px"
          class="cg-hover-yellow"
          (click)="openLink(repo.url)"
          aria-label="view repo"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
