@import "../../../../styles.scss";
.repo-description {
  // max-width: 290px;
  // display: inline;
}
.repo-title {
  // max-width: 290px;
}
.repo-card {
  max-width: 300px;
  min-width: 300px;
  margin: 30px 5px;
  @media (min-width: 500px) {
    margin: 15px 30px;
  }
  padding-top: 10px;
  padding-bottom: 10px;
}
.api-description-text {
  margin-top: 12px;
  font-size: 14px;
  font-style: italic;
}
