<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <!-- <button
    (click)="
      openLink('https://christiangracia-api.herokuapp.com/github/all-repos')
    "
    mat-raised-button
  >
    These cards are rendered by my API (see here)
  </button> -->

  <div class="page-header-container">
    <span class="page-header">GitHub Repos</span>
    <span class="page-description-text"
      >All my public reposotories on GitHub. Click open to view each of my repos
      code. These repo cards are rendered from JSON that comes from my back-end
      API located at
      <a href="https://christiangracia-api.herokuapp.com/" target="_blank"
        >christiangracia-api.herokuapp.com/</a
      >.
    </span>
    <span class="api-description-text">
      Click
      <a
        href="https://christiangracia-api.herokuapp.com/github/all-repos"
        target="_blank"
        >here</a
      >
      to see the JSON that is used to render each card below</span
    >
  </div>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="background-color: white;"
>
  <mat-card
    *ngFor="let repo of gitRepos"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="repo-card mat-elevation-z6"
  >
    <mat-card-title class="repo-title">
      {{ repo.name }}
    </mat-card-title>
    <mat-card-content>
      <span class="repo-description">
        {{ repo.description }}
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openLink(repo.url)">
        Code&nbsp;<mat-icon>search</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
