<app-content-header
  contentTitle="GitHub Repos"
  contentDescription="My public github repositories. Click view to see each of my repo's code."
></app-content-header>
<div class="api-description-container">
  <span class="api-description-text">
    Click
    <a
      href="https://christiangracia-api.herokuapp.com/github/all-repos"
      target="_blank"
      >here</a
    >
    to see the JSON that is used to render each card below from my back-end
    API</span
  >
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="background-color: white;"
>
  <mat-card
    *ngFor="let repo of gitRepos"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="repo-card mat-elevation-z6"
  >
    <mat-card-title class="repo-title">
      {{ repo.name }}
    </mat-card-title>
    <mat-card-content>
      <span class="repo-description">
        {{ repo.description }}
      </span>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center space-between"
        fxLayoutGap="10px"
      >
        <div fxLayout="column" fxLayoutGap="6px" fxLayoutAlign="center">
          <span class="repo-col-header">Language</span>
          <span [ngStyle]="{ color: formatRepoLanguage(repo.language) }">{{
            repo.language
          }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <span class="repo-col-header">Updated at</span>
          <span>{{ formatUpdateAtDate(repo.updatedAt) }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openLink(repo.url)">
        View&nbsp;<mat-icon>search</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
