@import "../../../../styles.scss";

.container {
  margin-top: 50px;

  .name-card {
    // padding: 30px;
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
  }
  .white-text {
    color: #fff;
  }
  .name-text {
    font-size: 25px;
    margin-right: 5px;
  }
  .job-location-text {
    font-size: 18px;
    .pipe-color {
      color: yellow;
    }
  }

  .email-icon {
    margin-top: 5px;
  }
  .swipe-button {
    background-color: transparent;
    font-size: 20px;
  }
  .swipe-text {
    font-size: 20px;
  }
  .enter-button {
    background-color: white;

    .enter-text {
      font-weight: bold;
    }
    &:hover {
      color: black;

      background-color: yellow;
    }
  }
  // .black-text {
  //   font-size: 20px;
  //   font-weight: bold;
  // }
}
