<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20%"
  fxLayoutGap.xs="200px"
  class="container"
>
  <mat-card fxFlex.xs="100$" fxFlex="100px" class="name-card">
    <div fxLayout="row">
      <mat-card-title color="" class="white-text name-text">
        Christian Gracia
      </mat-card-title>
      <app-lightning-bolt></app-lightning-bolt>
    </div>
    <mat-card-content class="white-text job-location-text"
      >Software Engineer | Providence, RI
    </mat-card-content>
    <mat-card-content class="white-text job-location-text"
      ><mat-icon class="email-icon">email</mat-icon>
      christianmgracia@gmail.com
    </mat-card-content>
  </mat-card>

  <div fxLayout="row">
    <button
      mat-raised-button
      (click)="navigateToSiteContent()"
      class="swipe-button white-text"
    >
      Swipe or click here
    </button>
    <app-animated-down-arrow></app-animated-down-arrow>
  </div>
</div>
