<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30vh"
  fxLayoutGap.xs="220px"
  class="container"
>
  <mat-card fxFlex.xs="100$" fxFlex="100px" class="name-card">
    <div fxLayout="row">
      <mat-card-title color="" class="white-text name-text">
        Christian Gracia
      </mat-card-title>
      <app-lightning-bolt></app-lightning-bolt>
    </div>
    <mat-card-content class="white-text job-location-text"
      >Software Engineer <span class="pipe-color">|</span> Providence, RI
    </mat-card-content>

    <mat-card-content class="white-text job-location-text"
      >React, Angular, Java, C#, iOS, ++
    </mat-card-content>

    <mat-card-content
      class="white-text email-container"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="5px"
      ><div class="email-icon-container">
        <mat-icon class="email-icon">email</mat-icon>
      </div>
      christianmgracia@gmail.com
    </mat-card-content>
    <app-social-media-links></app-social-media-links>
  </mat-card>

  <!-- mobile button -->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="13vh"
    fxHide.gt-xs
  >
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
      <button
        mat-raised-button
        (click)="navigateToSiteContent()"
        color="primary"
        class="swipe-button"
      >
        <span class="white-text swipe-text">Swipe or click</span>
      </button>
      <app-animated-down-arrow
        (click)="navigateToSiteContent()"
      ></app-animated-down-arrow>
    </div>
  </div>

  <!-- desktop button -->

  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="13vh"
    fxHide.lt-sm
  >
    <button
      mat-raised-button
      (click)="navigateToSiteContent()"
      class="enter-button"
    >
      <span class="enter-text">Click here to see what I do</span>
    </button>
  </div>
</div>
