@import "../../../../styles.scss";

.container {
  margin-top: 50px;

  .name-card {
    // padding: 30px;
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
  }
  .white-text {
    color: #fff;
  }
  .name-text {
    font-size: 25px;
    margin-right: 5px;
  }
  .job-location-text {
    font-size: 18px;
  }
  .email-icon {
    margin-top: 5px;
  }
  .swipe-button {
    background-color: transparent;
    font-size: 15px;
  }
}
