@import "../../../../styles.scss";

.container {
  .name-card {
    height: 40px;
    margin-top: 20vh;
    background-color: transparent;
  }
  .white-text {
    color: #fff;
  }
  .name-container {
    margin-bottom: 20px;
    .name-text {
      font-size: 25px;
      margin-right: 5px;
    }
  }

  .job-location-text {
    font-size: 18px;
    .pipe-color {
      color: yellow;
    }
  }
  .email-container {
    font-size: 18px;
    .email-icon-container {
    }
    .email-text {
      transition: all 0.2s ease-in-out;
      &:hover {
        color: white;
        transform: scale(1.5);
      }
    }
    .copy-text {
      color: yellow;
      font-style: italic;
      margin-right: 35px;
    }
  }

  .email-icon {
    margin-top: 5px;
  }
  .swipe-button {
    background-color: transparent;
    font-size: 20px;
  }
  .swipe-text {
    font-size: 20px;
  }

  .copy-hint-text {
    color: yellow;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #111;
}
