@import "../../../../../styles.scss";

.about-me-container {
  .white-text {
    color: white;
  }
  .skill-card-container {
  }
  .skill-card {
    width: 25vw;
    min-width: 250px;
    min-height: 100px;
    margin-top: 30px;
    .skill-header {
      color: #ff5722;
    }
    .card-content {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .current-project-container {
    margin: 100px 0;
    .current-project-title {
      font-weight: bold;
      text-align: center;
    }
    .current-project-text {
      text-align: center;
    }
  }
  .see-work-btn-container {
    margin-top: 50px;
  }
}
