<div
  fxLayout="column"
  fxLayoutALign="center center"
  fxLayoutGap="20px"
  class="about-me-container"
>
  <app-current-job></app-current-job>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-around"
    class="skill-card-container"
  >
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Languages </mat-card-title>
      <mat-card-content class="card-content">
        {{ languagesArray.join(", ") }}</mat-card-content
      >
    </mat-card>
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Front-end </mat-card-title>
      <mat-card-content class="card-content"
        >{{ frontEndArray.join(", ") }}
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Back-end </mat-card-title>
      <mat-card-content class="card-content">
        {{ backEndArray.join(", ") }}</mat-card-content
      >
    </mat-card>
  </div>

  <!-- <div
    class="current-project-container"
    fxLayout="column"
    fxLayoutALign="center center"
  >
    <div class="current-project-title">Curently working on...</div>
    <div class="current-project-text">
      <a href="http://marketfeels.com" target="_blank">marketfeels.com</a>
    </div>
  </div> -->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="see-work-btn-container"
  >
    <button
      mat-raised-button
      (click)="goToProjectsPage()"
      class="cg-hover-red"
      color="warn"
      aria-label="enter site"
    >
      <span class="cg-hover-redtext">See some of my work</span>
    </button>
  </div>

  <div style="padding-bottom: 200px"></div>
</div>
