/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.cg-hover-red {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &:hover {
    color: black;
    background-color: yellow;
  }
}
.cg-hover-yellow {
  color: black;
  background-color: yellow;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &:hover {
    color: yellow;
    background-color: #d93a00;
    .cg-hover-yellow-text {
      color: yellow;
    }
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-left {
  opacity: 1;
  animation-name: fadeInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
