/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.cg-hover-red {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &:hover {
    color: black;
    background-color: yellow;
  }
}
.cg-hover-yellow {
  color: black;
  background-color: yellow;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &:hover {
    color: yellow;
    background-color: #d93a00;
    .cg-hover-yellow-text {
      color: yellow;
    }
  }
}
