.content-container {
  margin: 20px 0px;

  .content-description-text {
    text-align: left;

    padding: 0px 10px;
    display: inline;
    max-width: 70vw;
    margin: 12px 0px auto;
  }
  .content-header {
    font-size: 40px;
    border-bottom: 1px solid black;
    margin: 0 auto;
  }
}
